@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll; /* 常に垂直スクロールバーを表示 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .tooltip {
    position: relative;
    background-color: black;
    color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
    z-index: 1; /* ツールチップのテキスト部分を前面に */
  }
  .tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%; /* Tooltipの下に矢印を配置 */
    left: 50%;
    transform: translateX(-50%);
    border-width: 0.5rem;
    border-style: solid;
    border-color: transparent transparent #2d3748 transparent;
    z-index: -1; /* 矢印部分を背面に */
  }
}

.button {
  @apply text-white font-bold p-2 rounded;
}

select option:hover {
  color: red !important; /* ホバー時のテキストカラーを赤にする */
}

.grid-cols-5 {
  grid-template-columns: repeat(4, 4fr) 3fr;
}

/* one div loaders */
.square-spin-1 {
  --size: 24px;
  --color: currentColor;
  --animation-timing-function: linear;
  --animation-duration: 2s;
  width: var(--size);
  height: var(--size);
  background-color: var(--color);
  transform: rotate(0deg);
  animation: var(--animation-timing-function) var(--animation-duration) infinite
    square-spin-1-animation;
}

@keyframes square-spin-1-animation {
  0% {
    transform: scale(1.5) rotate(0deg);
  }

  25% {
    transform: scale(0.75) rotate(90deg);
  }

  50% {
    transform: scale(1.5) rotate(180deg);
  }

  75% {
    transform: scale(0.75) rotate(270deg);
  }

  100% {
    transform: scale(1.5) rotate(360deg);
  }
}

/* changing dots css */
@keyframes dotsAnimation {
  0%, 100% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}

.dots::before {
  content: ".";
  animation: dotsAnimation 1.5s infinite steps(1, end);
  font-size: 2rem;
}
